.carousel-item {
  height: 65vh;
  min-height: 10px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
button.btn.btn-default {
    font-size: 18px;
    color: #FFF;
    padding: 12px 22px;
    background: #5E4485;
    border: 2
}
.carousel-caption h1{
    color: yellow;
}
body {
  padding-top: 54px;
}
button.btn.btn-sm{
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
}
div.col-sm-6{
    background-color:#ccc;
}